<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="text-primary">Dermo</span>-tologist</a>

            <div class="collapse navbar-collapse" id="navbarSupport">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking/booking">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking/appointment">Appointment Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">username: {{name}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ml-lg-3" href="/user/logout">logout</a>
                    </li>
                </ul>
            </div> <!-- .navbar-collapse -->
        </div> <!-- .container -->
    </nav>
</header>