<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo.png" alt="Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                </li>
                <li>
                    <a href="/admin/doctors">
                        <i class="fas fa-chart-bar"></i>Doctor</a>
                </li>
                <li class="">
                    <a href="/admin/appointment">
                        <i class="fas fa-table"></i>Booking</a>
                </li>
                <li>
                    <a href="/admin/user">
                        <i class="far fa-check-square"></i>Users</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>